body {
  font: 1.2em / 1.5 sans-serif;
}
* {
  box-sizing: border-box;
}

table {
  border-collapse: collapse;
  width: 300px;
}

td,
th {
  padding: 0.2em;
  text-align: left;
}

/* Add styles here */
a{
    color: orange;
}

a:hover{
    text-decoration: none;
}

a:visited{
    color: green;
}

.container p:first-child{
    font-size: 150%;
}

.container p:first-child::first-line{
    color: red;
}

tr:nth-child(even){
    background-color: #3c3c3c;
    color: white;
}