.container{
    display: inline-grid;
    grid-template: 40px 40px 40px 40px 40px / 40px 40px 40px 40px 40px;
    background-color: lightblue;
}

.room{
    border: 1px black solid;
    text-align: center;
    font-size: 50%;
}

#living-room{
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 3;
}

#kitchen{
    grid-row: 3/6;
    grid-column: 1/3;
}

#bedroom{
    grid-row: 3/5;
    grid-column: 4/6;
}

#bathroom{
    grid-row: 3/6;
    grid-column: 3;
}

#closet{
    grid-column: 4/6;
}